* {
 margin: 0px;
 padding: 0px;
 list-style: none;
}
a {
 text-decoration: none;
 color: #000;
}
#head {
 width: 1600px;
 height: 117px;
 background-color: rgba(0, 0, 0, 0.8);
 color: #fff;
 position: relative;
 box-sizing: border-box;
}

#head img {
 margin-left: 205px;
 margin-top: 23px;
}

.nav {
 position: absolute;
 left: 715px;
 top: 42px;
 display: inline-block;
}

.nav li {
 width: 175px;
 float: left;
 list-style: none;
 font-size: 20px;
 color: #fff;
 position: relative;

}
.nav li a {
 color: #fff;
}

#head .down {
 box-sizing: border-box;
 background-color: rgba(0, 0, 0, 0.5);
 width: 155px;
 height: 205px;
 position: absolute;
 top: 75px;
 left: -30px;
 display: none;
 z-index: 2;
}

.down li {
 width: 155px;
 border-bottom: 1px solid #616161;
 line-height: 40px;
 text-align: center;

}

.people {
 width: 24px;
 height: 24px;
 float: right;
 margin-right: 215px;
 position: absolute;
 top: 23px;
 right: 0;
}
.BerryCorporation {
	width: 1600px;
	height: 221px;
	/* border: 1px solid #FFF000; */
	background-color: #242424;
	text-align: center;
	overflow: hidden;
	position: relative;
}

.BerryCorporation .scs ul {
	float: left;

}

.BerryCorporation .scs ul li {
	padding-left: 180px;
	padding-top: 22px;
	line-height: 21px;
	font-size: 14px;

}

.BerryCorporation ul li a {
	color: #fff;
}

.BerryCorporation .shuxian {
	width: 3px;
	height: 160px;
	background-color: #434343;
	position: absolute;
	left: 772px;
	top: 40px;
}

.BerryCorporation .phen {
	padding-top: 35px;
	padding-left: 20px;
	margin-left: 112px;
	float: left;
	line-height: 29px;
	text-align: left;
}

.BerryCorporation .address a {
	color: #434343;
}

.BerryCorporation .aff {
	font-size: 23px;
	font-weight: bold;
}

.BerryCorporation .ma {
	float: right;
	padding-right: 267px;
	padding-top: 67px;
}
.biankuang{
	line-height: 37px;
	width: 1600px;
	height: 35px;
	/* border: 1px solid red; */
	background-color: #434343;;
	text-align: center;
	color: #ACACAC;
	font-size: 14px;
}